body {
  padding: 0;
  margin: 0;
}
.info {
  width: 800px;
  margin: 50px auto;
}
.info form {
  margin-bottom: 15px;
  text-align: right;
}
.info form input {
  padding: 7px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table tr:nth-child(even) { background: #eee; }
table thead tr th {
  background: #aaa;
}
table td,th {
  text-align: center;
}
#pagination,
#pagination-filter {
  display: inline-block;
  margin-top: 20px;
}
.page-link,
.page-link-filter {
  padding: 10px;
  border: 1px solid #ddd;
  margin-right: 10px;
}
